<%= render "partials/navigation" %>
<div class="search_property">
  <div class="picture">

  </div>
  <div class="content">
    <p class="address">5/4-6 Grattan Street, Haw...</p>
    <div class="attributes">
      <p>$550pw</p>
      <%= image_tag("bed.svg", :alt => "bedrooms icon") %>
      <p>2</p>
      <%= image_tag("bath.svg", :alt => "bath icon") %>
      <p>1</p>
    </div>
  </div>
</div>


<div class="rectangle">
  <p>Suitable Tenants</p>
</div>


<div class="tenant_cell">
  <div class="highlight">
    <%= image_tag("highlight.png", :alt => "star icon") %>
  </div>
  <div class="profile-pic">
    <div class="circle"></div>
  </div>
  <div class="content">
    <div class="property-info">
      <p class="address">Michael Che</p>
      <div class="attributes">
        <p>$550pw</p>
        <%= image_tag("bed.svg", :alt => "bedrooms icon") %>
        <p>2</p>
        <%= image_tag("bath.svg", :alt => "bath icon") %>
        <p>1</p>
      </div>
    </div>
  </div>
  <div class="tenant_link">
    <p>></p>
  </div>
</div>