<%= render "partials/navigation" %>
<%= render "partials/header" %>

<% if @properties.any?%>
  <% @properties.each do |property| %>
    <a href="property/<%= property.id %>">
      <div class="property">
        <div class="container">
          <div class="property-listing">
            <div class="picture" style="background-image: url(<%= property.picture %>)">
            </div>
            <div class="content">
              <div class="property-info">
                <p class="address"><%= property.address %></p>
                <div class="attributes">
                  <p>$<%= property.price %>pw</p>
                  <%= image_tag("bed.svg", :alt => "bedrooms icon") %>
                  <p><%= property.bedroom %></p>
                  <%= image_tag("bath.svg", :alt => "bath icon") %>
                  <p><%= property.toilet %></p>
                </div>
              </div>
              <div class="suitable-tenants">
                <p></i>54<span class="d-sm-none d-none d-lg-inline-block">Suitable Tenants</span></p>
                <span class="rui-icon rui-icon-arrow-right"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  <% end %>
<% end %>
